<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Roomio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome, {{ username }}</h1>
    <ul>
        <li><a href="{{ url_for('register_pet') }}">Register Pet</a></li>
        <!-- <li><a href="{{ url_for('edit_pet', pet_name=pet_name) }}">Edit Pet</a></li> -->
        <li><a href="{{ url_for('search_units') }}">Search unit by Building and Company Name</a></li>
        <li><a href="{{ url_for('view_interests') }}">View All Interests</a></li>
        <li><a href="{{ url_for('post_interest') }}">Post New Interest</a></li>
        <li><a href="{{ url_for('advanced_search') }}">Advanced Search</a></li>
    </ul>
    <a href="{{ url_for('logout') }}">Logout</a>
</body>
</html>